<<<<<<< HEAD
.container-booking-show {
  display: flex;
  justify-content: center;
  align-items: center;
}
=======
// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

>>>>>>> master
.congrats{
  /* From https://css.glass */
  height: 400px;
  width: 600px;
  margin-top: 150px;
  text-align: center;
  background: #91b0a0;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
}

.congrats h1 {
  text-shadow: 0 4px 30px rgba(0, 0, 0, 0.22);
  color:white;
}

<<<<<<< HEAD
.congrats p {
=======
.congrats p{
>>>>>>> master
  text-shadow: 0 4px 30px rgba(0, 0, 0, 0.22);
  color:white;
  margin-top: 35px;
}

.coffee p {
  text-shadow: 0 4px 30px rgba(0, 0, 0, 0.22);
  color:white;
  text-align: left;
  margin-top: 40px;
}
