
.log-page {
  background-image: linear-gradient(rgba(255, 255, 255, 0.593),rgba(0,0,0,0.4)), url("log.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 100%;
}

.log a {
  color: rgb(191, 191, 191);
}

.log{
  /* From https://css.glass */
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
}

.log-head {
  text-align: center;
}
