.modal-content {
  border-radius: 8px;
}
.modal-title {
  text-align: center;
  flex-grow: 1;
}

.modal-body {
  text-align: center;
}


.modal-footer p {
  text-shadow: 0 4px 30px rgba(0, 0, 0, 0.22);
  margin-top: 40px;
  flex-grow: 1;
}

.btn-donate {
  color: black;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-donate:hover {
  opacity: 1;
  color: #5b8570;
}
