.title-detail{
  h2{
    color: #554B4D;
    // color:#91b0a0;
    font-size: 50px;
  }
}
.content-details{
  p{
    color: #554B4D;
    margin: 0;
  }

  border-top: 1px dotted #91b0a0 ;
  border-bottom: 1px dotted #91b0a0 ;
  padding-top: 15px;
  padding-bottom: 15px;
}

.info-participants{
  align-items: center;
}
.info-button{
  align-items: center;
}

.avatar-flex h1{
  color: #554B4D;
}
