<h1>Voici un récapitulatif de votre mission</h1>

<%# image mission show %>

<p><%= current_user.firstname %>, vous attend à l'adresse <%= @mission.address %> <%= @mission.city %> à <%= @mission.date %></p>
