  <div class="container">
    <div class="row">
        <div class="congrats">
          <h1>Félicitation!<br>Tu es maintenant inscrit(e)!</h1>
          <p>Un membre de Maison de la Nature<br>va t'envoyer les infos de la mission</p>
            <div class="coffee">
            <p><small>Tu peux également participer en faisant un don <br> ou en nous payant un café!</small></p>
              <div class="btn-donation">Je fais un don!
              </div>
          </div>
      </div>
    </div>
  </div>
