  <div class="container">
    <div class="row">
        <div class="congrats">
          <h1>Félicitation!<br>Tu es maintenant inscrit! </h1>
          <div class="btn-donation">Je fais un don!
          </div>
      </div>
    </div>
  </div>
