
<div class="badge__wrapper">
  <div class="badge__3d">
    <div class="badge__image">
      <div class="badge__layer1"></div>
      <div class="badge__layer2"></div>
      <%= cl_image_tag current_user.badge.photo.key %>
    </div>
  </div>
</div>
