<div id="body">

  <div id="dashboard-header">
    <h1>Tableau de bord</h1>
    <div id="infos-user">
      <%= image_tag "avatarFemme.jpg", class: "avatar-show" %>
      <p>Bonjour <%= current_user.firstname %></p>
    </div>
  </div>

  <div id="body-dashboard">
    <div id="user_missions">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>
    <div id="user-progress">
      <p>Vous avez 20 points</p>
    </div>
    <div id="badges">
      <p>Badges</p>
    </div>
  </div>

</div>
