<div id="body">
  <div id="dashboard-header">
    <h1>Dashboard#show</h1>
      <div id="infos-user">
        <p>Bonjour <%= current_user.firstname %></p>
          <div id="body-dashboard">
            <div id="user_missions">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <div id="user-progress">
                  <p>Vous avez 20 points</p>
                    <div id="badges">
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
