.btn-ghost {
  color: #91b0a0;
  border: 1px solid #91b0a0;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #5b8570;
}


.btn-devise {
  width: 100%;
  margin-bottom: 20px;
  background-color: #91b0a0;
  border: #91b0a0;
  color: white;

  &.btn-devise:hover {
    background-color: #5b8570;
    border: #5b8570;
    color: white;
  }
}
