.btn-ghost {
  color: #91b0a0;
  border: 1px solid #91b0a0;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #5b8570;
}

.btn-ghost-white {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-ghost-white:hover {
  color: white;
  box-shadow: white;
  transform: scale(1.05); //rotate(-1deg)
}


.btn-devise {
  width: 100%;
  margin-bottom: 20px;
  background-color: #91b0a0;
  border: #91b0a0;
  color: white;

  &.btn-devise:hover {
    background-color: #5b8570;
    border: #5b8570;
    color: white;
  }
}
.btn-donation {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: fit-content;
  margin-left: 380px;
}

.btn-donation:hover {
  opacity: 1;
  color: #5b8570;
}

.fontawsome i {
  display: inline-block;
  height: 30px;
  color: rgba(170, 166, 166, 0.445);
  margin-bottom: 5px;
}


.btn-participate {
  background-color: #91B0A0;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  // flex-shrink: 0;
  font-size: 20px;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
}

.btn-participate:hover {
  box-shadow: #91B0A0 0 1px 30px;
  background-color: #91B0A0;
  transition-duration: .1s;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .btn-participate {
    padding: 0 2.6rem;
  }
}
