.card-mission {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-mission > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-mission h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-mission p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-mission a {
  text-decoration: none;
  color: #564C4D;
  margin: 4px;
}

.card-mission .card-mission-infos {
  padding: 16px;
}

.card-mission .card-mission-infos-location {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-mission-infos a {
  text-decoration: none;
  color: #564C4D;
}


.cards-mission {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

a {
  text-decoration: none;
  color: #564C4D;

  &:hover {
    color: #564C4D;
  }
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: 0.3s ease-in-out;
  }

  // CARDS DASHBOARD PRODUCT
  .card-product {
    overflow: hidden;
    height: 120px;
    // background: white;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
    border-radius: 10px;
  }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product .card-product-infos {
    padding: 16px;
  }
