.participants{
  /* From https://css.glass */
  border-radius: 20px;
  background-image: linear-gradient(to right bottom, #BBD2C5, #536976b4,);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.2);
  padding: 25px;
  color: white;
}

.participants h2 {
  text-align: center;
}

li{
  text-decoration: none;
  // list-style: none;
}

#booking_scoring{
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.584);
  width: 30%;
}
