#filter-form {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateY(50%);

  form {
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    /* margin-top: 55px; */
    border-radius: 50px;
    background-color: #91b0a0;
    text-align: center;
    margin: 0 1rem;
    padding: 0.35rem;
    padding-top: 0.70rem;
    padding-bottom: 0.70rem;
  }

  .form-control, .form-select, #search_date {
    background-color: #91b0a0;
    color:white;
    border: 0;
    margin: 16px, 0;

    &::placeholder {
      color: white;
    }
  }

  .form-control, .form-select, #search_date :focus {
    outline: none;
  }

  form > div {
/*     margin-top: 1rem;
    margin-right: 40px; */
    margin: 0 !important;
  }

  form > div:not(:last-of-type) {
    padding-right: 2rem;
    border-right: 2px solid white;
  }

}


.btn-ghost-white-banner{
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
}
