<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path('banner.jpg')%>);">
  <div class="container">
    <h1>Missions#index</h1>
    <%# <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p> %>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  <%= link_to " âŽ Back", root_path, class: "btn btn-ghost", style: "color: white; border: 1px solid white;" %>
  </div>
</div>
