<h1>Missions#show</h1>
<%= simple_form_for([@mission, Booking.new]) do |f| %>
        <%= f.input :mission_id, input_html: {value: @mission.id}, as: :hidden %>
        <%= f.submit "Je participe !", class: "btn btn-ghost mb-3"%>
      <% end %>
